@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body{
background-image: url(../data/fondo.jpg);
background-color: #bcaaa4;

color: #623C3C;
}
h1{
color: #ffebee;
text-align: center;
font-size: 55px;
font-family: 'Space Mono', monospace;
padding: 20px;
}
h3{
color: #623C3C;
text-align: left;
font-size: 50px;
font-family: 'Dosis', sans-serif;
padding: 20px;
}
h4{
color: #623C3C;
text-align: left;
font-size: 40px;
font-family: 'Dosis', sans-serif;
padding: 20px;
}
.container{
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}
.masInfo{
  margin: 80px;
  text-align: center;

}
